[submodule "cd_easytime"]
	path = cd_easytime
	url = https://github.com/dsheedes/cd_easytime
[submodule "spooner"]
	path = spooner
	url = git@github.com:Tsybulya-RP/spooner.git
[submodule "EasyAdmin"]
	path = EasyAdmin
	url = git@github.com:Tsybulya-RP/EasyAdmin.git
[submodule "ox_target"]
	path = ox_target
	url = https://github.com/overextended/ox_target.git
[submodule "ox_lib"]
	path = ox_lib
	url = git@github.com:overextended/ox_lib.git
